.dev-blurb {
  width: 50%;
  margin-right: 19px;
}

/*.dev-image {
  border-radius: 30%;
}*/

.tsmartlive {
  margin-left: 16px;
}

.ripple_image {
  padding: 37px !important;
  width: 445px !important;
  margin-left: 135px !important;
  height: 800px !important;
}